<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Groups</mat-card-title>
        <span class="spacer"></span>
        <button mat-icon-button class="add" (click)="openJoinDialog()">
            <mat-icon>login</mat-icon> Join
        </button>
        <button mat-icon-button class="add" (click)="openAddDialog()">
            <mat-icon>add_box</mat-icon> New
        </button>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let group of groups">
                <mat-icon mat-list-icon>group</mat-icon>
                <h4 mat-line><button mat-button (click)="onSetGroup(group)">{{group.name}}</button></h4>

                <button mat-icon-button (click)="copyLink(group)">
                    <mat-icon>file_copy</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteGroup(group)">
                    <mat-icon>delete</mat-icon>
                </button>

                <mat-divider></mat-divider>
            </mat-list-item>

        </mat-list>
    </mat-card-content>
</mat-card>