<div class="center">
    <h1 class="margin">Welcome Back</h1>
    <button class="margin" mat-raised-button [routerLink]="'/todo'" aria-label="Login button"
        *ngIf="!auth.isAuthenticated()">
        Login
    </button>
    <button class="margin" mat-raised-button [routerLink]="'/todo'" aria-label="Show Todos"
        *ngIf="auth.isAuthenticated()">
        Show Todos
    </button>
</div>