@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: lightgray;}

table {
  width: 100%;
}

.floatRight {
  float: right;
}

.inputs {
  margin: 5px;
}

.card {
  margin: 5px;
}

.center {
    text-align: center;
}

.flexInput {
  -webkit-flex: 1;
  margin: 5px;
}

button {
  height: 45px;
}

.spacer {
    flex: 1 1 auto;
}
