<h1 mat-dialog-title>Add new</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="name ..." [(ngModel)]="data.name">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="accent" (click)="addGroup()">Add</button>
</div>