<h1 mat-dialog-title>Add new</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Text</mat-label>
        <input matInput placeholder="description ..." [(ngModel)]="data.message">
    </mat-form-field>

    <mat-form-field>
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let tag of data.tags" [removable]="removable" (removed)="removeTag(tag)">
                {{tag.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="New tag..." [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addTag($event)">
        </mat-chip-list>
    </mat-form-field>

    <mat-form-field>
        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date & time" [(ngModel)]="data.deadline">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="accent" (click)="addTodo()">Add</button>
</div>