<h1 mat-dialog-title>Join Group</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput placeholder="group ID ..." [(ngModel)]="data.id">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="accent" (click)="joinGroup()">Join</button>
</div>