<mat-toolbar>

  <button mat-menu-item [routerLink]="'/'">
    <mat-icon>home</mat-icon>
    <span>MyOrganizer</span>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/todo'">
      <mat-icon>note_add</mat-icon>
      <span>My Todos</span>
    </button>
    <button mat-menu-item [routerLink]="'/groups'">
      <mat-icon>group</mat-icon>
      <span>Shared Todos</span>
    </button>
    <button mat-menu-item *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
    <button mat-menu-item *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>