<mat-card>
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
        <span class="spacer"></span>
        <mat-slide-toggle (click)="switchComplete()" class="inputs">
            Show {{alternativeTitle}}
        </mat-slide-toggle>
        <button mat-icon-button class="add" (click)="openAddDialog()">
            <mat-icon>add_box</mat-icon> New
        </button>
    </mat-card-header>

    <mat-card-content>
        <mat-form-field class="table">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" id="filterInput">
        </mat-form-field>

        <table mat-table [dataSource]="todosDs" class="mat-elevation-z8">

            <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef> Message </th>
                <td mat-cell *matCellDef="let todo"> {{todo.message}} </td>
            </ng-container>

            <ng-container matColumnDef="tags">
                <th mat-header-cell *matHeaderCellDef width="25%"> Tags </th>
                <td mat-cell *matCellDef="let todo">
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let tag of todo.tags" class="inputs" (click)="searchChip(tag.name)">
                            {{tag.name}}
                        </mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef width="15%"> Deadline </th>
                <td mat-cell *matCellDef="let todo"> {{todo.deadline}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef width="15%"> Actions </th>
                <td mat-cell *matCellDef="let todo">
                    <button mat-icon-button aria-label="Close Todo" *ngIf="!todo.complete" (click)="completeTodo(todo)">
                        <mat-icon>done</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" aria-label="Delete Todo" (click)="deleteTodo(todo)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="!todo.subscription_id" aria-label="Set Alarm"
                        (click)="subscribeToSw(todo)">
                        <mat-icon>alarm</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" *ngIf="todo.subscription_id" class="icon-red">
                        <mat-icon>alarm</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </mat-card-content>
</mat-card>